input[type="text"] {
  @apply border px-1 w-auto;
}

.splitpanes .splitpanes__pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: gray;
}

.splitpanes.default-theme .splitpanes__splitter {
  border-right: 1px solid #eee;
}

